.defaultButtonStyle {
  -webkit-box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.75);
  border-width: 10px;
  color: Tomato;
}

.justColorRed {
  color: red;
}
